body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.theme-div {
    padding: 0 0.75rem 0 0 !important;
}

.theme-div .caret {
    color: #fff !important;
}

main {
    flex: 1 0 auto;
    margin: 0 3% 0 3%;
    z-index: 9999;
}

.signup-btn {
    width: 25%;
}

.row-signup-btn {
    text-align: center;
}



.footer-logo {
    max-width: 147px;
}

.footer-logo-div {
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

@media only screen and (min-width: 992px) {
a.brand-logo {
    margin: 0 0 0 3% !important;
}
body > div.navbar-fixed > nav > div > ul {
    margin-right: 3%;
}
}

div.row.login-row, div.row.update-information-row, div.row.change-password-row {
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
    padding-bottom: 5%;
}

div.row.register-row {
    /* margin: 0 auto; */
    /* width: 50%; */
    margin-top: 5%;
    padding-bottom: 5%;
}

.remember-paragraph {
    padding: 0 .75rem;
}

.btn-left-margin {
    margin: 0 0 0 0.75rem;
}