body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.theme-div {
    padding: 0 0.75rem 0 0 !important;
}

.theme-div .caret {
    color: #fff !important;
}

main {
    flex: 1 0 auto;
    margin: 0 3% 0 3%;
}

.signup-btn {
    width: 25%;
}

#profile-image {
    max-height: 300px;
    max-width: 85%;
}



.profile-img-div {
    text-align: center;
}


.row-signup-btn {
    text-align: center;
}

.div-validation-errors {
    text-align: center;
}

.form-validation-error {
    display: inline-block;
    color: #ff0000;
}

.footer-logo {
    max-width: 147px;
}

.footer-logo-div {
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

@media only screen and (min-width: 992px) {
a.brand-logo {
    margin: 0 0 0 3% !important;
}
body > div.navbar-fixed > nav > div > ul {
    margin-right: 3%;
}
}

.sex-div, .region-div, .country-div .select-dropdown {
    /* color: #B79E9E; */
}

div.row.login-row, div.row.update-information-row, div.row.change-password-row {
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.update-information-row {
    width: 100% !important;
    margin-top: 5%;
    padding-bottom: 5%;
}

.profile-row {
    /* margin-top: 5%; */
    /* padding-bottom: 5%; */
}

.profile-row {
    margin-top: 6%;
}

.profile-arrows {
    font-size: 6rem;
    color: #333;
}

.profile-arrows:hover {
    color: #ee6e73;
}

.filter-search-btn {
    float: right;
}

.profile-divider {
    margin: 0 auto;
    width: 65%;
}

.view-profiles {
    margin-top: 2%;
}

#next-profile-btn {
    float: left;
}
#previous-profile-btn {
    float: right;
}

.previous-profile-tooltip {
    /* font-family: "Operator Mono Extra Light" !important; */
    box-shadow: none !important;
    font-size: 15px !important;
}

.next-profile-tooltip {
    /* font-family: "Operator Mono Extra Light" !important; */
    box-shadow: none !important;
    font-size: 15px !important;
}

.profile-name-age-row {
    text-align: center;
    font-size: 2rem;
}

.profile-image {
    max-height: 400px;
    outline: solid;
    outline-offset: 5px;
    outline-color: #e0e0e0;
    width: 267px;
    min-width: 267px;
    max-width: 267px;
    float: right;
    margin-right: 2%;
}

.profile-image-row {
    text-align: center;
    min-height: 400px;
    height: 400px;
}

.profile-info-row {
    text-align: center; 
}

.profile-info {
    min-height: 400px;
    height: 400px;
    max-height: 400px;
    width: 267px;
    max-width: 267px;
    min-width: 267px;
    outline: solid;
    outline-offset: 5px;
    outline-color: #e0e0e0;
    /* margin: 0 auto; */
    float: left;
    margin-left: 2%;
}

.profile-info:hover, .profile-image:hover {
    outline-color: #62c66e;
}

.profile-bio {
    text-align: left;
    word-wrap: break-word;
    height: 176px;
}

.message-user {
    margin-top: 38%;
}

.message-user-btn {
    margin-top: 4%;
    max-width: 260px;
}

.interests-div {
    width: 283px;
    float: right;
}

.location-div {
    width: 283px;
    float: left;
}

.user-interests-h6 {
    font-weight: 500;
}

.user-location-h6 {
    font-weight: 500;
}

.interests-ul {
    column-count: 2;
    column-gap: 20px;
}

.interests-divider {
    width: 97%;
}

html, body, .profile-row, .age-slider-row {
    height: 100%;
}

.name-paragraph {
    margin-top: 0 !important;
}


.update-btn {
    width: 20%;
}

.update-btn-row {
    text-align: center;
}

div.row.register-row {
    /* margin: 0 auto; */
    /* width: 50%; */
    margin-top: 5%;
    padding-bottom: 5%;
}

.remember-paragraph {
    padding: 0 .75rem;
}

.btn-left-margin {
    margin: 0 0 0 0.75rem;
}





.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#bio-label {
    padding: 0 .75rem;
}

.bio-div {
    padding: 0 .65rem;
}


.inputfile + label {
    

    width: 40%;
    height: 30px;
    font-size: 11px;
    font-weight: 700;
    color: #fff !important;
    border-radius: 0px;
    background-color: #ff5757;
    display: inline-block;
    cursor: pointer;
    cursor: pointer;
    transition: all 120ms;
    line-height: 30px !important;
    vertical-align: middle;

    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 0em;
    font: 400 11px system-ui;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 11px;
    line-height: normal;
    font-family: system-ui;
}


.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}